<h1>비겁하게 숨지말고 로그인하고 모여!</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-image: url(static/img/sombra.jpg);
            background-size: cover;
            color: white;
        }
    </style>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form method="post" action="/login_confirm">
        <h2>I D : <input type="text" name="id_"></h2>
        <h2>P W : <input type="password" name="pw_"></h2>
        <h2><input type="submit" value="확인"></h2>
    </form>
</body>
</html>
